PYTHONUNBUFFERED=1

# CREATE ANY ENVIRONMENT VARIABLES SURROUNDED BY SINGLE QUOTES, REMOVE THIS LINE, AND THEN RENAME THIS FILE TO '.env' (NO QUOTES). IT IS LISTED IN GIT IGNORE SO IT WILL NOT BE COPIED TO THE REPO.
